body{
   background-color: #222222;
   align-items: center;
}


.formulario{
   align-items: center;
   max-height: 100%;
   display: flex;
}

.contenedor_tarea{
   max-width: 50%;
   margin: 0% auto;
   text-align: left;
   white-space: nowrap;
   overflow: hidden; 
   font-size: 24px;
   font-family: 'Roboto';
   color: white;
   background-color: rgb(94, 92, 92);
   margin-top: 4%;
   width: 36%;
   height: 3rem;
   display: inline-block;
}

.btn-delete{
   background-color:transparent;
   margin-top: -5%;
   margin-left: 88%;
   width: 8%;
   height: 2rem;
   display: inline-block;
   border: solid 1px white;
}

.btn-share{
   background-color:transparent;
   margin-top: -5%;
   margin-left: 88%;
   width: 8%;
   height: 2rem;
   display: inline-block;
   border: solid 1px white;
}

.btn-clipboard{
   background-color:transparent;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   margin-top: -5%;
   margin-left: 88%;
   width: 8%;
   height: 2rem;
   display: inline-block;
   border: solid 1px white;
}

.btn{
   background-color:#363535;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   position: fixed;
   border: solid 2% white;
   margin-left: 62.8%;
   margin-top: -1%;
   width: 4%;
   height: 6%;
}

.input{
   background-color: transparent;
   margin: 0% auto;
   position: fixed;
   width: 31%;
   height: 2.5rem;
   border: 1px solid red;
}

.checkbox-label{
   width: 10%;
   height: 10px;
}

.completed{
   text-decoration: line-through;
}

@media screen and (min-width: 650px){
   .input{
      width: 26%;
      margin-bottom: 10px;
      margin-left: 30.5%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .contenedor_tarea{
      margin-top: 20px;
      display: flex;
      align-items: center;
   }
   .btn{
      width: 7%;
      margin-left: 58%;
      margin-top: -1.5%;
   }
   .btn-delete{
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 650%;
      height: 2%;
   }
   .btn-share{
      margin-left: 450%;
      height: 2%;
   }
   .btn-clipboard{
      margin-left: 250%;
      height: 2%;
   }
  
}