body{
   background-color: #222222;
   align-items: center;
}


.formulario{
   align-items: center;
   max-height: 100%;
   display: flex;
}

.btn{
   background-color:#363535;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   position: fixed;
   border: solid 2px white;
   margin-left: 67%;
   margin-top: -1%;
   width: 4%;
   height: 6%;
}

.input{
   background-color:#363535;
   margin: 0% auto;
   margin-left: 30%;
   margin-top: -1%;
   position: fixed;
   display: flex;
   width: 36%;
   height: 2.5rem;
}

.contenedor_tarea{
   max-width: 100%;
   margin: 0% auto;
   text-align: left;
   white-space: nowrap;
   overflow: hidden; 
   font-size: 24px;
   font-family: 'Roboto';
   color: white;
   background-color: rgb(94, 92, 92);
   margin-top: 25px;
   margin-left: 30.8%;
   width: 42%;
   height: 3rem;
   display: inline-block;
   display: flex;
   align-items: center;
}

.btn-delete{
   position: relative;
   background-color:transparent;
   margin-top: -5%;
   margin-left: 1020%;
   width: 2.5rem;
   height: 2.5rem;
   display: inline-block;
   border: solid 2px white;
}

.btn-share{
   position: relative;
   background-color:transparent;
   margin-top: -5%;
   margin-left: 798%;
   width: 2.5rem;
   height: 2.5rem;
   display: inline-block;
   border: solid 2px white;
}

.btn-clipboard{
   position: relative;
   background-color:transparent;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   margin-top: -5%;
   margin-left: 580%;
   width: 2.5rem;
   height: 2.5rem;
   display: inline-block;
   border: solid 2px white;
}

p{
   text-decoration: none;
  }

  input[type="checkbox"]:checked + p {
   text-decoration: line-through; /* Tachar el texto */
 }

/*Resolución para dispositivos moviles*/
@media screen and (max-width: 420px){
   .input{
      width: 64%;
      margin-bottom: 10px;
      margin-left: 7%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
  
   .btn{
      width: 13%;
      margin-left: 75%;
      margin-top: -4%;
   }
   
   .btn-clipboard{
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 130%;
      width: 1.8rem;
      height: 1.8rem;
   }

   .btn-share{
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 350%;
      width: 1.8rem;
      height: 1.8rem;
   }
   
   .btn-delete{
      margin-left: 570%;
      width: 1.8rem;
      height: 1.8rem;
   }

   .contenedor_tarea{
      margin-top: 25px;
      margin-left: 8%;
      width: 88%;
      display: flex;
      align-items: center;
   }

  p{
   text-decoration: none;
  }

  input[type="checkbox"]:checked + p {
   text-decoration: line-through; /* Tachar el texto */
 }

}